<!DOCTYPE html>
<html>
<head>
    <style>
        .timeline {
            position: relative;
            margin: 50px;
            min-height: 100vh;
        }
        
        .event {
            position: relative;
            padding-left: 10px;
        }
        
        .event-dot {
            width: 8px;
            height: 8px;
            background: #666;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        
        .event-text {
            display: inline-block;
            font-size: 14px;
            transform: translateY(-2px);
        }
        
        .grid-line {
            position: absolute;
            width: 1px;
            height: 100%;
            background-color: #ddd;
            top: 0;
            bottom: 0;
        }
        
        .grid-line-label {
            position: absolute;
            top: -20px;
            transform: translateX(-50%);
            font-size: 12px;
            color: #666;
        }
        
        .event-text a {
            color: darkblue;
            text-decoration: none;
        }
        .event-text a:hover {
            text-decoration: underline;
        }
    </style>
    <title>Timeline of Discovery</title>
</head>
<body>
    <h1>Timeline of Discovery</h1>
    <div class="timeline">
        {{$interval := 200}}
        {{$startYear := floor (div $.EarliestYear $interval) | mul $interval}}
        {{range $year := sequence $startYear $.LatestYear $interval}}
            <div class="grid-line" style="left: calc((({{$year}} - {{$.EarliestYear}}) / {{$.TotalYears}}) * 80%);">
                <div class="grid-line-label">{{$year}}</div>
            </div>
        {{end}}
        
        {{range $index, $event := .Events}}
            <div class="event" style="
                left: calc((({{$event.StartYear}} - {{$.EarliestYear}}) / {{$.TotalYears}}) * 80%);">
                <div class="event-dot"></div>
                <div class="event-text">
                    {{if .IsBC}}{{abs .StartYear}} BC{{else if .HasAD}}{{.StartYear}} AD{{else}}{{.StartYear}}{{end}}{{if ne .StartYear .EndYear}}-{{if .IsBC}}{{abs .EndYear}} BC{{else if .HasAD}}{{.EndYear}} AD{{else}}{{.EndYear}}{{end}}{{end}}: {{if .URL}}<a href="{{.URL}}">{{.Text}}</a>{{else}}{{.Text}}{{end}}
                </div>
            </div>
        {{end}}
    </div>
    <hr>
    <p>Add discoveries and fix bugs on <a href="https://github.com/jes/timeline">github</a>.</p>
    <p><a href="https://incoherency.co.uk">James Stanley</a></p>
</body>
</html> 