<!DOCTYPE html>
<html>
<head>
    <style>
        .timeline {
            position: relative;
            margin: 50px;
        }
        
        .event {
            position: relative;
            padding-left: 20px;
        }
        
        .event-dot {
            width: 8px;
            height: 8px;
            background: #666;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        
        .event-text {
            display: inline-block;
            font-size: 14px;
        }
    </style>
</head>
<body>
    <div class="timeline">
    {{range $index, $event := .Events}}
        <div class="event" style="
            left: calc((({{$event.StartYear}} - {{$.EarliestYear}}) / {{$.TotalYears}}) * 100%);">
            <div class="event-dot"></div>
            <div class="event-text">
                {{if .IsBC}}{{abs .StartYear}} BC{{else if .HasAD}}{{.StartYear}} AD{{else}}{{.StartYear}}{{end}}{{if ne .StartYear .EndYear}}-{{if .IsBC}}{{abs .EndYear}} BC{{else if .HasAD}}{{.EndYear}} AD{{else}}{{.EndYear}}{{end}}{{end}}: {{.Text}}
            </div>
        </div>
    {{end}}
    </div>
</body>
</html> 